<%- include('partials/header'); -%>

<header>
  
  <div class="image">
    <img src="/tank.png" alt="">
  </div>
  <div class="headings">
    <h1>Your Devices</h1>
  </div>
</header>

<% if(details!=null) { %>
<table>
<tr>
    <th>Tank No.</th>
    <th>TDS Count </th>
    <th>Turbidity</th>
    <th>Water Level </th>
    <th>Water Usage </th>
    <th>Last Updated </th>
</tr>
<% details.forEach(function(item){ %>
<tr>
    <td><%= item.route%></td>
    <td><%= item.origin %></td>
    <td><%= item.destination%></td>
    <td><%= item.estimatedTimeOfArrival %></td>
    <td><%= item.date%></td>
    <td><%= item.time%></td>

</tr>
<% }) %>
</table>
<% } %>


<%- include('partials/footer'); -%>